body {
    background-color: rgb(247, 245, 245);
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
}

.item {
    flex: 1;
}

.item-triple {
    flex: 3;
    margin-right: 40px;
}

ul {
    list-style-type: none;
}

li {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 15px 30px;
    list-style-type: none;
    background-color: rgb(236, 231, 231);
}

header {
    padding: 20px 0;
    text-align: center;
    background-color: rgba(152, 170, 177, 0.719);
    margin-bottom: 20px;
    border: 1pt solid black
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;;
}

nav button {
    margin-left: 40px;
}

nav {
    margin-left: 20px;
}

li button {
    margin-top: 10px;
}


